In [1]:
import requests
import pandas as pd
import json
from cred import credentials
from request_api import get_genesis_api

In [2]:
df_unemployment_rate = pd.read_csv('data/13211-0007.csv', delimiter= ';', header= [0,1], skiprows= 4, skipfooter=4, encoding= 'latin1', engine='python')
df_unemployment_rate

,Unnamed: 0_level_0,Unnamed: 1_level_0,Arbeitslose,Arbeitslosenquote aller zivilen Erwerbspersonen,Arbeitslosenquote d. abhängigen ziv. Erwerbspers.,Gemeldete Arbeitsstellen
,Unnamed: 0_level_1,Unnamed: 1_level_1,Anzahl,Prozent,Prozent,Anzahl
0,Baden-Württemberg,2000,281500,"5,4","6,0",78669
1,Baden-Württemberg,2001,264301,"4,9","5,5",73514
2,Baden-Württemberg,2002,295005,"5,4","6,1",57496
3,Baden-Württemberg,2003,336881,"6,2","6,9",37759
4,Baden-Württemberg,2004,340943,"6,2","6,9",29907
...,...,...,...,...,...,...
347,Thüringen,2017,68614,"6,1","6,6",24085
348,Thüringen,2018,62145,"5,5","6,0",25916
349,Thüringen,2019,59065,"5,3","5,7",23411
350,Thüringen,2020,66678,"6,0","6,5",18211
351,Thüringen,2021,62249,"5,6","6,1",20242

In [3]:
df_unemployment_rate.columns = df_unemployment_rate.columns.map('_'.join)
df_unemployment_rate

,Unnamed: 0_level_0_Unnamed: 0_level_1,Unnamed: 1_level_0_Unnamed: 1_level_1,Arbeitslose_Anzahl,Arbeitslosenquote aller zivilen Erwerbspersonen_Prozent,Arbeitslosenquote d. abhängigen ziv. Erwerbspers._Prozent,Gemeldete Arbeitsstellen_Anzahl
0,Baden-Württemberg,2000,281500,"5,4","6,0",78669
1,Baden-Württemberg,2001,264301,"4,9","5,5",73514
2,Baden-Württemberg,2002,295005,"5,4","6,1",57496
3,Baden-Württemberg,2003,336881,"6,2","6,9",37759
4,Baden-Württemberg,2004,340943,"6,2","6,9",29907
...,...,...,...,...,...,...
347,Thüringen,2017,68614,"6,1","6,6",24085
348,Thüringen,2018,62145,"5,5","6,0",25916
349,Thüringen,2019,59065,"5,3","5,7",23411
350,Thüringen,2020,66678,"6,0","6,5",18211
351,Thüringen,2021,62249,"5,6","6,1",20242

In [4]:
df_unemployment_rate.rename(columns={'Unnamed: 0_level_0_Unnamed: 0_level_1': 'bundesland', 'Unnamed: 1_level_0_Unnamed: 1_level_1': 'year'}, inplace=True)
df_unemployment_rate

,bundesland,year,Arbeitslose_Anzahl,Arbeitslosenquote aller zivilen Erwerbspersonen_Prozent,Arbeitslosenquote d. abhängigen ziv. Erwerbspers._Prozent,Gemeldete Arbeitsstellen_Anzahl
0,Baden-Württemberg,2000,281500,"5,4","6,0",78669
1,Baden-Württemberg,2001,264301,"4,9","5,5",73514
2,Baden-Württemberg,2002,295005,"5,4","6,1",57496
3,Baden-Württemberg,2003,336881,"6,2","6,9",37759
4,Baden-Württemberg,2004,340943,"6,2","6,9",29907
...,...,...,...,...,...,...
347,Thüringen,2017,68614,"6,1","6,6",24085
348,Thüringen,2018,62145,"5,5","6,0",25916
349,Thüringen,2019,59065,"5,3","5,7",23411
350,Thüringen,2020,66678,"6,0","6,5",18211
351,Thüringen,2021,62249,"5,6","6,1",20242

In [5]:
df_unemployment_rate.columns = df_unemployment_rate.columns.str.replace(' ', '_')
df_unemployment_rate

,bundesland,year,Arbeitslose_Anzahl,Arbeitslosenquote_aller_zivilen_Erwerbspersonen_Prozent,Arbeitslosenquote_d._abhängigen_ziv._Erwerbspers._Prozent,Gemeldete_Arbeitsstellen_Anzahl
0,Baden-Württemberg,2000,281500,"5,4","6,0",78669
1,Baden-Württemberg,2001,264301,"4,9","5,5",73514
2,Baden-Württemberg,2002,295005,"5,4","6,1",57496
3,Baden-Württemberg,2003,336881,"6,2","6,9",37759
4,Baden-Württemberg,2004,340943,"6,2","6,9",29907
...,...,...,...,...,...,...
347,Thüringen,2017,68614,"6,1","6,6",24085
348,Thüringen,2018,62145,"5,5","6,0",25916
349,Thüringen,2019,59065,"5,3","5,7",23411
350,Thüringen,2020,66678,"6,0","6,5",18211
351,Thüringen,2021,62249,"5,6","6,1",20242

In [6]:
df_unemployment_rate.drop(columns=['Arbeitslose_Anzahl', 'Arbeitslosenquote_d._abhängigen_ziv._Erwerbspers._Prozent', 'Gemeldete_Arbeitsstellen_Anzahl'], inplace=True)
df_unemployment_rate

,bundesland,year,Arbeitslosenquote_aller_zivilen_Erwerbspersonen_Prozent
0,Baden-Württemberg,2000,"5,4"
1,Baden-Württemberg,2001,"4,9"
2,Baden-Württemberg,2002,"5,4"
3,Baden-Württemberg,2003,"6,2"
4,Baden-Württemberg,2004,"6,2"
...,...,...,...
347,Thüringen,2017,"6,1"
348,Thüringen,2018,"5,5"
349,Thüringen,2019,"5,3"
350,Thüringen,2020,"6,0"
351,Thüringen,2021,"5,6"

In [7]:
df_unemployment_rate.rename(columns={'Arbeitslosenquote_aller_zivilen_Erwerbspersonen_Prozent': 'unemployment_rate'}, inplace=True)
df_unemployment_rate

            bundesland  year unemployment_rate
0    Baden-Württemberg  2000               5,4
1    Baden-Württemberg  2001               4,9
2    Baden-Württemberg  2002               5,4
3    Baden-Württemberg  2003               6,2
4    Baden-Württemberg  2004               6,2
..                 ...   ...               ...
347          Thüringen  2017               6,1
348          Thüringen  2018               5,5
349          Thüringen  2019               5,3
350          Thüringen  2020               6,0
351          Thüringen  2021               5,6

[352 rows x 3 columns]

In [8]:
df_unemployment_rate.unemployment_rate = df_unemployment_rate.unemployment_rate.str.replace(',', '.')
df_unemployment_rate

            bundesland  year unemployment_rate
0    Baden-Württemberg  2000               5.4
1    Baden-Württemberg  2001               4.9
2    Baden-Württemberg  2002               5.4
3    Baden-Württemberg  2003               6.2
4    Baden-Württemberg  2004               6.2
..                 ...   ...               ...
347          Thüringen  2017               6.1
348          Thüringen  2018               5.5
349          Thüringen  2019               5.3
350          Thüringen  2020               6.0
351          Thüringen  2021               5.6

[352 rows x 3 columns]

In [10]:
cols = df_unemployment_rate.columns.drop(['bundesland', 'year'])

df_unemployment_rate[cols] = df_unemployment_rate[cols].apply(pd.to_numeric, errors='coerce')
df_unemployment_rate

            bundesland  year  unemployment_rate
0    Baden-Württemberg  2000                5.4
1    Baden-Württemberg  2001                4.9
2    Baden-Württemberg  2002                5.4
3    Baden-Württemberg  2003                6.2
4    Baden-Württemberg  2004                6.2
..                 ...   ...                ...
347          Thüringen  2017                6.1
348          Thüringen  2018                5.5
349          Thüringen  2019                5.3
350          Thüringen  2020                6.0
351          Thüringen  2021                5.6

[352 rows x 3 columns]

In [14]:
df_unemployment_rate.to_csv('data/cleaned_unemployment_rate.csv')

In [13]:
df_unemployment_rate.head(30)

           bundesland  year  unemployment_rate
0   Baden-Württemberg  2000                5.4
1   Baden-Württemberg  2001                4.9
2   Baden-Württemberg  2002                5.4
3   Baden-Württemberg  2003                6.2
4   Baden-Württemberg  2004                6.2
5   Baden-Württemberg  2005                7.0
6   Baden-Württemberg  2006                6.3
7   Baden-Württemberg  2007                4.9
8   Baden-Württemberg  2008                4.1
9   Baden-Württemberg  2009                5.1
10  Baden-Württemberg  2010                4.9
11  Baden-Württemberg  2011                4.0
12  Baden-Württemberg  2012                3.9
13  Baden-Württemberg  2013                4.1
14  Baden-Württemberg  2014                4.0
15  Baden-Württemberg  2015                3.8
16  Baden-Württemberg  2016                3.8
17  Baden-Württemberg  2017                3.5
18  Baden-Württemberg  2018                3.2
19  Baden-Württemberg  2019                3.2
20  Baden-Württemberg  2020                4.1
21  Baden-Württemberg  2021                3.9
22             Bayern  2000                5.5
23             Bayern  2001                5.3
24             Bayern  2002                6.0
25             Bayern  2003                6.9
26             Bayern  2004                6.9
27             Bayern  2005                7.8
28             Bayern  2006                6.8
29             Bayern  2007                5.3

In [11]:
df_unemployment_rate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352 entries, 0 to 351
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   bundesland         352 non-null    object
 1   year               352 non-null    int64
 2   unemployment_rate  352 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 8.4+ KB