In [158]:
import requests
import json
import pandas as pd
import io
import warnings
warnings.filterwarnings('ignore', '.*do not.*', )
warnings.warn('DelftStack')
warnings.warn('Do not show this message')

In [ ]:
request_url = 'https://www.regionalstatistik.de/genesis/online'
request_params = {
    "operation": "download",
    "code": "31231-02-01-4",
    "startjahr":"2011",
    "endjahr": "2015",
    "zeiten": "",
    "option":"csv", #(csv, ffcsv, xlsx, xml)
    "zeitscheiben": "",  #Anzahl der aktuellsten Zeitscheiben, die tabelliert werden sollen
    "language": "de"
}
# save the response
de_response = requests.get(url=request_url, params=request_params)
de_response

In [62]:
with open('data/year_2011_2015.csv', 'wb') as f:
    f.write(de_response.content)

In [165]:
df_2000_2005 = pd.read_csv('data/year_2000_2005.csv',delimiter=';', skiprows=4, skipfooter=4, header=[0,1,2], encoding = 'latin1', decimal=',')
df_2000_2005

/var/folders/_k/3v2l6rmd5m3gnk2prt6lj__h0000gn/T/ipykernel_26801/2804222633.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df_2000_2005 = pd.read_csv('data/year_2000_2005.csv',delimiter=';', skiprows=4, skipfooter=4, header=[0,1,2], encoding = 'latin1', decimal=',')

     Unnamed: 0_level_0 Unnamed: 1_level_0  \
     Unnamed: 0_level_1 Unnamed: 1_level_1
     Unnamed: 0_level_2 Unnamed: 1_level_2
0            31.12.2005                 DG
1            31.12.2005                 01
2            31.12.2005              01001
3            31.12.2005              01002
4            31.12.2005              01003
...                 ...                ...
3091         31.12.2000              16073
3092         31.12.2000              16074
3093         31.12.2000              16075
3094         31.12.2000              16076
3095         31.12.2000              16077

                                  Unnamed: 2_level_0  \
                                  Unnamed: 2_level_1
                                  Unnamed: 2_level_2
0                                        Deutschland
1                                 Schleswig-Holstein
2                        Flensburg, kreisfreie Stadt
3           Kiel, Landeshauptstadt, kreisfreie Stadt
4               Lübeck, Hansestadt, kreisfreie Stadt
...                                              ...
3091                      Saalfeld-Rudolstadt, Kreis
3092                            Saale-Holzland-Kreis
3093                                Saale-Orla-Kreis
3094                                    Greiz, Kreis
3095                         Altenburger Land, Kreis

     Gebäude nach Anzahl der Wohnungen                        \
                             Insgesamt 1 Wohnung 2 Wohnungen
                                Anzahl    Anzahl      Anzahl
0                             17599798  11025066     3531394
1                               724358    545333       93576
2                                14830      8810        1310
3                                34804     19567        3168
4                                40502     24351        5557
...                                ...       ...         ...
3091                             27548     15120        7257
3092                             21410     13885        4651
3093                             23868     14868        5762
3094                             28026     15853        6900
3095                             22862     12479        4250

     Unnamed: 6_level_0 Größe der Wohnung                       \
     Unnamed: 6_level_1         Insgesamt Wohnungen mit 1 Raum
                1000 qm            Anzahl               Anzahl
0             3326809.0          39550560               844119
1              116312.9           1371345                24847
2                3484.6             47332                  648
3                8902.7            130356                 3546
4                7934.0            113010                 2640
...                 ...               ...                  ...
3091             4541.8             63125                 1701
3092             3252.8             41639                  693
3093             3532.6             45369                  605
3094             4426.5             61292                  443
3095             4169.3             60940                  273

                                                                           \
     Wohnungen mit 2 Räumen Wohnungen mit 3 Räumen Wohnungen mit 4 Räumen
                     Anzahl                 Anzahl                 Anzahl
0                   2432836                8536264               11685504
1                     82344                 282011                 387084
2                      2768                  12912                  16341
3                      9032                  42193                  43445
4                      8727                  30565                  38468
...                     ...                    ...                    ...
3091                   2973                  15337                  21161
3092                   1672                   8796                  13699
3093                   1945                   9651                  14492
3094                   3379                  16101                  20741
3095                   3459                  19833                  20544

                                                    \
     Wohnungen mit 5 Räumen Wohnungen mit 6 Räumen
                     Anzahl                 Anzahl
0                   7703813                4238777
1                    310565                 159454
2                      8862                   3484
3                     20123                   7583
4                     20165                   7597
...                     ...                    ...
3091                  11968                   5676
3092                   9150                   4535
3093                   9961                   5055
3094                  11628                   5405
3095                  10217                   4106

                                      Unnamed: 15_level_0
     Wohnungen mit 7 Räumen oder mehr Unnamed: 15_level_1
                               Anzahl              Anzahl
0                             4109247            32061073
1                              125040              963971
2                                2317               17814
3                                4434               33838
4                                4848               37079
...                               ...                 ...
3091                             4309               32899
3092                             3094               23685
3093                             3660               28112
3094                             3595               27494
3095                             2508               19299

[3096 rows x 16 columns]

In [164]:
df_2006_2010 = pd.read_csv('data/year_2006_2010.csv',delimiter=';', skiprows=4, skipfooter=4, header=[0,1,2], encoding = 'latin1', decimal=',')
df_2006_2010

/var/folders/_k/3v2l6rmd5m3gnk2prt6lj__h0000gn/T/ipykernel_26801/506883600.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df_2006_2010 = pd.read_csv('data/year_2006_2010.csv',delimiter=';', skiprows=4, skipfooter=4, header=[0,1,2], encoding = 'latin1', decimal=',')

     Unnamed: 0_level_0 Unnamed: 1_level_0  \
     Unnamed: 0_level_1 Unnamed: 1_level_1
     Unnamed: 0_level_2 Unnamed: 1_level_2
0            31.12.2010                 DG
1            31.12.2010                 01
2            31.12.2010              01001
3            31.12.2010              01002
4            31.12.2010              01003
...                 ...                ...
2413         31.12.2006              16073
2414         31.12.2006              16074
2415         31.12.2006              16075
2416         31.12.2006              16076
2417         31.12.2006              16077

                                  Unnamed: 2_level_0  \
                                  Unnamed: 2_level_1
                                  Unnamed: 2_level_2
0                                        Deutschland
1                                 Schleswig-Holstein
2                        Flensburg, kreisfreie Stadt
3           Kiel, Landeshauptstadt, kreisfreie Stadt
4               Lübeck, Hansestadt, kreisfreie Stadt
...                                              ...
2413                      Saalfeld-Rudolstadt, Kreis
2414                            Saale-Holzland-Kreis
2415                                Saale-Orla-Kreis
2416                                    Greiz, Kreis
2417                         Altenburger Land, Kreis

     Gebäude nach Anzahl der Wohnungen                        \
                             Insgesamt 1 Wohnung 2 Wohnungen
                                Anzahl    Anzahl      Anzahl
0                             18110835  11434561     3598158
1                               747830    565603       95515
2                                15381      9316        1336
3                                35585     20287        3198
4                                41675     25447        5558
...                                ...       ...         ...
2413                             28123     15741        7324
2414                             22325     14663        4775
2415                             24346     15281        5837
2416                             28800     16669        6985
2417                             23142     12844        4304

     Unnamed: 6_level_0 Größe der Wohnung                       \
     Unnamed: 6_level_1         Insgesamt Wohnungen mit 1 Raum
                1000 qm            Anzahl               Anzahl
0             3426896.0          40318513               854904
1              120323.9           1406388                25297
2                3581.6             48280                  725
3                9034.2            131444                 3548
4                8136.8            114814                 2628
...                 ...               ...                  ...
2413             4556.4             62213                 1326
2414             3385.0             42754                  729
2415             3609.1             45909                  631
2416             4500.3             61221                  450
2417             4158.9             60067                  182

                                                                           \
     Wohnungen mit 2 Räumen Wohnungen mit 3 Räumen Wohnungen mit 4 Räumen
                     Anzahl                 Anzahl                 Anzahl
0                   2472211                8608623               11785190
1                     84196                 286588                 393388
2                      2845                  13063                  16463
3                      9021                  42342                  43639
4                      8829                  30830                  38779
...                     ...                    ...                    ...
2413                   2739                  14945                  20607
2414                   1664                   8847                  13837
2415                   2000                   9562                  14523
2416                   3271                  15702                  20426
2417                   3317                  19336                  20164

                                                    \
     Wohnungen mit 5 Räumen Wohnungen mit 6 Räumen
                     Anzahl                 Anzahl
0                   7892836                4411266
1                    321246                 165696
2                      9112                   3664
3                     20511                   7803
4                     20788                   7884
...                     ...                    ...
2413                  12168                   5817
2414                   9469                   4826
2415                  10115                   5209
2416                  11735                   5641
2417                  10198                   4203

                                      Unnamed: 15_level_0
     Wohnungen mit 7 Räumen oder mehr Unnamed: 15_level_1
                               Anzahl              Anzahl
0                             4293483            33520652
1                              129977             1001874
2                                2408               18511
3                                4580               34933
4                                5076               38806
...                               ...                 ...
2413                             4611               35283
2414                             3382               26060
2415                             3869               29796
2416                             3996               30684
2417                             2667               20661

[2418 rows x 16 columns]

In [166]:
df_2000_2010 = pd.concat([df_2006_2010, df_2000_2005])
df_2000_2010

     Unnamed: 0_level_0 Unnamed: 1_level_0  \
     Unnamed: 0_level_1 Unnamed: 1_level_1
     Unnamed: 0_level_2 Unnamed: 1_level_2
0            31.12.2010                 DG
1            31.12.2010                 01
2            31.12.2010              01001
3            31.12.2010              01002
4            31.12.2010              01003
...                 ...                ...
3091         31.12.2000              16073
3092         31.12.2000              16074
3093         31.12.2000              16075
3094         31.12.2000              16076
3095         31.12.2000              16077

                                  Unnamed: 2_level_0  \
                                  Unnamed: 2_level_1
                                  Unnamed: 2_level_2
0                                        Deutschland
1                                 Schleswig-Holstein
2                        Flensburg, kreisfreie Stadt
3           Kiel, Landeshauptstadt, kreisfreie Stadt
4               Lübeck, Hansestadt, kreisfreie Stadt
...                                              ...
3091                      Saalfeld-Rudolstadt, Kreis
3092                            Saale-Holzland-Kreis
3093                                Saale-Orla-Kreis
3094                                    Greiz, Kreis
3095                         Altenburger Land, Kreis

     Gebäude nach Anzahl der Wohnungen                        \
                             Insgesamt 1 Wohnung 2 Wohnungen
                                Anzahl    Anzahl      Anzahl
0                             18110835  11434561     3598158
1                               747830    565603       95515
2                                15381      9316        1336
3                                35585     20287        3198
4                                41675     25447        5558
...                                ...       ...         ...
3091                             27548     15120        7257
3092                             21410     13885        4651
3093                             23868     14868        5762
3094                             28026     15853        6900
3095                             22862     12479        4250

     Unnamed: 6_level_0 Größe der Wohnung                       \
     Unnamed: 6_level_1         Insgesamt Wohnungen mit 1 Raum
                1000 qm            Anzahl               Anzahl
0             3426896.0          40318513               854904
1              120323.9           1406388                25297
2                3581.6             48280                  725
3                9034.2            131444                 3548
4                8136.8            114814                 2628
...                 ...               ...                  ...
3091             4541.8             63125                 1701
3092             3252.8             41639                  693
3093             3532.6             45369                  605
3094             4426.5             61292                  443
3095             4169.3             60940                  273

                                                                           \
     Wohnungen mit 2 Räumen Wohnungen mit 3 Räumen Wohnungen mit 4 Räumen
                     Anzahl                 Anzahl                 Anzahl
0                   2472211                8608623               11785190
1                     84196                 286588                 393388
2                      2845                  13063                  16463
3                      9021                  42342                  43639
4                      8829                  30830                  38779
...                     ...                    ...                    ...
3091                   2973                  15337                  21161
3092                   1672                   8796                  13699
3093                   1945                   9651                  14492
3094                   3379                  16101                  20741
3095                   3459                  19833                  20544

                                                    \
     Wohnungen mit 5 Räumen Wohnungen mit 6 Räumen
                     Anzahl                 Anzahl
0                   7892836                4411266
1                    321246                 165696
2                      9112                   3664
3                     20511                   7803
4                     20788                   7884
...                     ...                    ...
3091                  11968                   5676
3092                   9150                   4535
3093                   9961                   5055
3094                  11628                   5405
3095                  10217                   4106

                                      Unnamed: 15_level_0
     Wohnungen mit 7 Räumen oder mehr Unnamed: 15_level_1
                               Anzahl              Anzahl
0                             4293483            33520652
1                              129977             1001874
2                                2408               18511
3                                4580               34933
4                                5076               38806
...                               ...                 ...
3091                             4309               32899
3092                             3094               23685
3093                             3660               28112
3094                             3595               27494
3095                             2508               19299

[5514 rows x 16 columns]

In [160]:
df_2011_2015 = pd.read_csv('data/year_2011_2015.csv',delimiter=';', skiprows=6, skipfooter=4, header=[0,1,2], encoding = 'latin1', decimal=',')
df_2011_2015

/var/folders/_k/3v2l6rmd5m3gnk2prt6lj__h0000gn/T/ipykernel_26801/275432238.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df_2011_2015 = pd.read_csv('data/year_2011_2015.csv',delimiter=';', skiprows=6, skipfooter=4, header=[0,1,2], encoding = 'latin1', decimal=',')

     Unnamed: 0_level_0 Unnamed: 1_level_0  \
     Unnamed: 0_level_1 Unnamed: 1_level_1
     Unnamed: 0_level_2 Unnamed: 1_level_2
0            31.12.2015                 DG
1            31.12.2015                 01
2            31.12.2015              01001
3            31.12.2015              01002
4            31.12.2015              01003
...                 ...                ...
2300         31.12.2011              16073
2301         31.12.2011              16074
2302         31.12.2011              16075
2303         31.12.2011              16076
2304         31.12.2011              16077

                                  Unnamed: 2_level_0  \
                                  Unnamed: 2_level_1
                                  Unnamed: 2_level_2
0                                        Deutschland
1                                 Schleswig-Holstein
2                        Flensburg, kreisfreie Stadt
3           Kiel, Landeshauptstadt, kreisfreie Stadt
4               Lübeck, Hansestadt, kreisfreie Stadt
...                                              ...
2300                      Saalfeld-Rudolstadt, Kreis
2301                            Saale-Holzland-Kreis
2302                                Saale-Orla-Kreis
2303                                    Greiz, Kreis
2304                         Altenburger Land, Kreis

     Wohngebäude nach Anzahl der Wohnungen                            \
                                 Insgesamt Wohngebäude mit 1 Wohnung
                                    Anzahl                    Anzahl
0                                 18731913                  12469955
1                                   802101                    632915
2                                    16810                     11168
3                                    36916                     22576
4                                    42995                     28453
...                                    ...                       ...
2300                                 28295                     17571
2301                                 22582                     15774
2302                                 23762                     15803
2303                                 27899                     17573
2304                                 22695                     14005

                                                                       \
     Wohngebäude mit 2 Wohnungen Wohngebäude mit 3 und mehr Wohnungen
                          Anzahl                               Anzahl
0                        3094269                              3147290
1                          78552                                90013
2                            935                                 4666
3                           2236                                11993
4                           4029                                10477
...                          ...                                  ...
2300                        5969                                 4747
2301                        3946                                 2856
2302                        4934                                 3017
2303                        5771                                 4553
2304                        3403                                 5285

               Unnamed: 8_level_0 Größe der Wohnung                       \
     Wohnheime Unnamed: 8_level_1         Insgesamt Wohnungen mit 1 Raum
        Anzahl            1000 qm            Anzahl               Anzahl
0        20399          3670870.0          41446271              1348648
1          621           131323.5           1452402                36482
2           41             3757.2             48982                 2539
3          111             9382.2            133442                 7101
4           36             8417.7            115915                 5276
...        ...                ...               ...                  ...
2300         8             4702.4             61044                 1586
2301         6             3581.3             42951                  756
2302         8             3640.6             44972                  449
2303         2             4503.2             57977                 1219
2304         2             4116.9             56573                  855

                                                                           \
     Wohnungen mit 2 Räumen Wohnungen mit 3 Räumen Wohnungen mit 4 Räumen
                     Anzahl                 Anzahl                 Anzahl
0                   3805139                9024769               10565295
1                    126684                 296031                 348120
2                      5790                  14221                  12828
3                     17996                  41157                  34364
4                     14669                  30920                  32268
...                     ...                    ...                    ...
2300                   4977                  14154                  16958
2301                   2627                   7788                  11010
2302                   2728                   9529                  12268
2303                   4058                  14008                  16584
2304                   5569                  15419                  16997

                                                    \
     Wohnungen mit 5 Räumen Wohnungen mit 6 Räumen
                     Anzahl                 Anzahl
0                   7039935                4564499
1                    287652                 182755
2                      7030                   3337
3                     18642                   8048
4                     18191                   8466
...                     ...                    ...
2300                  10277                   6457
2301                   9549                   6130
2302                   8488                   5729
2303                  10502                   6450
2304                   9083                   4885

                                      Unnamed: 17_level_0
     Wohnungen mit 7 Räumen oder mehr Unnamed: 17_level_1
                               Anzahl              Anzahl
0                             5097986            41414629
1                              174678             1399468
2                                3237               25992
3                                6134               49944
4                                6125               48635
...                               ...                 ...
2300                             6635               53423
2301                             5091               40766
2302                             5781               46421
2303                             5156               41249
2304                             3765               29906

[2305 rows x 18 columns]

In [168]:
df_2016_2020 = pd.read_csv('data/year_2016_2020.csv',delimiter=';', skiprows=6, skipfooter=4, header=[0,1,2], encoding = 'latin1', decimal=',')
df_2016_2020

/var/folders/_k/3v2l6rmd5m3gnk2prt6lj__h0000gn/T/ipykernel_26801/1816211743.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df_2016_2020 = pd.read_csv('data/year_2016_2020.csv',delimiter=';', skiprows=6, skipfooter=4, header=[0,1,2], encoding = 'latin1', decimal=',')

     Unnamed: 0_level_0 Unnamed: 1_level_0  \
     Unnamed: 0_level_1 Unnamed: 1_level_1
     Unnamed: 0_level_2 Unnamed: 1_level_2
0            31.12.2020                 DG
1            31.12.2020                 01
2            31.12.2020              01001
3            31.12.2020              01002
4            31.12.2020              01003
...                 ...                ...
2295         31.12.2016              16073
2296         31.12.2016              16074
2297         31.12.2016              16075
2298         31.12.2016              16076
2299         31.12.2016              16077

                                  Unnamed: 2_level_0  \
                                  Unnamed: 2_level_1
                                  Unnamed: 2_level_2
0                                        Deutschland
1                                 Schleswig-Holstein
2                        Flensburg, kreisfreie Stadt
3           Kiel, Landeshauptstadt, kreisfreie Stadt
4               Lübeck, Hansestadt, kreisfreie Stadt
...                                              ...
2295                      Saalfeld-Rudolstadt, Kreis
2296                            Saale-Holzland-Kreis
2297                                Saale-Orla-Kreis
2298                                    Greiz, Kreis
2299                         Altenburger Land, Kreis

     Wohngebäude nach Anzahl der Wohnungen                            \
                                 Insgesamt Wohngebäude mit 1 Wohnung
                                    Anzahl                    Anzahl
0                                 19273286                  12867447
1                                   832199                    655894
2                                    17390                     11529
3                                    37358                     22871
4                                    43885                     29019
...                                    ...                       ...
2295                                 28648                     17881
2296                                 22924                     16080
2297                                 23908                     15940
2298                                 28192                     17845
2299                                 22941                     14252

                                                                       \
     Wohngebäude mit 2 Wohnungen Wohngebäude mit 3 und mehr Wohnungen
                          Anzahl                               Anzahl
0                        3153666                              3229473
1                          81769                                93817
2                            966                                 4848
3                           2261                                12108
4                           4090                                10742
...                          ...                                  ...
2295                        6001                                 4756
2296                        3981                                 2857
2297                        4943                                 3016
2298                        5791                                 4555
2299                        3413                                 5272

               Unnamed: 8_level_0 Größe der Wohnung                       \
     Wohnheime Unnamed: 8_level_1         Insgesamt Wohnungen mit 1 Raum
        Anzahl            1000 qm            Anzahl               Anzahl
0        22700          3812915.8          42803737              1477432
1          719           137588.9           1517232                39230
2           47             3970.5             51656                 2844
3          118             9565.3            135985                 7706
4           34             8706.2            119523                 5424
...        ...                ...               ...                  ...
2295        10             4766.3             61543                 1691
2296         6             3645.0             43440                  779
2297         9             3666.5             45065                  465
2298         1             4556.3             58104                 1159
2299         4             4159.3             56764                  932

                                                                           \
     Wohnungen mit 2 Räumen Wohnungen mit 3 Räumen Wohnungen mit 4 Räumen
                     Anzahl                 Anzahl                 Anzahl
0                   4024103                9305930               10786112
1                    137505                 312431                 360467
2                      6472                  14876                  13294
3                     18634                  41772                  34594
4                     15714                  32058                  32814
...                     ...                    ...                    ...
2295                   4997                  14183                  16947
2296                   2698                   7802                  11055
2297                   2811                   9480                  12177
2298                   4079                  13981                  16487
2299                   5590                  15294                  16985

                                                    \
     Wohnungen mit 5 Räumen Wohnungen mit 6 Räumen
                     Anzahl                 Anzahl
0                   7235541                4727217
1                    297722                 190180
2                      7299                   3528
3                     18791                   8217
4                     18563                   8665
...                     ...                    ...
2295                  10422                   6560
2296                   9660                   6247
2297                   8516                   5764
2298                  10580                   6546
2299                   9148                   4941

                                      Unnamed: 17_level_0
     Wohnungen mit 7 Räumen oder mehr Unnamed: 17_level_1
                               Anzahl              Anzahl
0                             5247402            42617705
1                              179697             1439403
2                                3343               26868
3                                6271               51009
4                                6285               49895
...                               ...                 ...
2295                             6743               54328
2296                             5199               41704
2297                             5852               47008
2298                             5272               42259
2299                             3874               30812

[2300 rows x 18 columns]

In [169]:
df_2011_2020 = pd.concat([df_2016_2020, df_2011_2015])
df_2011_2020

     Unnamed: 0_level_0 Unnamed: 1_level_0  \
     Unnamed: 0_level_1 Unnamed: 1_level_1
     Unnamed: 0_level_2 Unnamed: 1_level_2
0            31.12.2020                 DG
1            31.12.2020                 01
2            31.12.2020              01001
3            31.12.2020              01002
4            31.12.2020              01003
...                 ...                ...
2300         31.12.2011              16073
2301         31.12.2011              16074
2302         31.12.2011              16075
2303         31.12.2011              16076
2304         31.12.2011              16077

                                  Unnamed: 2_level_0  \
                                  Unnamed: 2_level_1
                                  Unnamed: 2_level_2
0                                        Deutschland
1                                 Schleswig-Holstein
2                        Flensburg, kreisfreie Stadt
3           Kiel, Landeshauptstadt, kreisfreie Stadt
4               Lübeck, Hansestadt, kreisfreie Stadt
...                                              ...
2300                      Saalfeld-Rudolstadt, Kreis
2301                            Saale-Holzland-Kreis
2302                                Saale-Orla-Kreis
2303                                    Greiz, Kreis
2304                         Altenburger Land, Kreis

     Wohngebäude nach Anzahl der Wohnungen                            \
                                 Insgesamt Wohngebäude mit 1 Wohnung
                                    Anzahl                    Anzahl
0                                 19273286                  12867447
1                                   832199                    655894
2                                    17390                     11529
3                                    37358                     22871
4                                    43885                     29019
...                                    ...                       ...
2300                                 28295                     17571
2301                                 22582                     15774
2302                                 23762                     15803
2303                                 27899                     17573
2304                                 22695                     14005

                                                                       \
     Wohngebäude mit 2 Wohnungen Wohngebäude mit 3 und mehr Wohnungen
                          Anzahl                               Anzahl
0                        3153666                              3229473
1                          81769                                93817
2                            966                                 4848
3                           2261                                12108
4                           4090                                10742
...                          ...                                  ...
2300                        5969                                 4747
2301                        3946                                 2856
2302                        4934                                 3017
2303                        5771                                 4553
2304                        3403                                 5285

               Unnamed: 8_level_0 Größe der Wohnung                       \
     Wohnheime Unnamed: 8_level_1         Insgesamt Wohnungen mit 1 Raum
        Anzahl            1000 qm            Anzahl               Anzahl
0        22700          3812915.8          42803737              1477432
1          719           137588.9           1517232                39230
2           47             3970.5             51656                 2844
3          118             9565.3            135985                 7706
4           34             8706.2            119523                 5424
...        ...                ...               ...                  ...
2300         8             4702.4             61044                 1586
2301         6             3581.3             42951                  756
2302         8             3640.6             44972                  449
2303         2             4503.2             57977                 1219
2304         2             4116.9             56573                  855

                                                                           \
     Wohnungen mit 2 Räumen Wohnungen mit 3 Räumen Wohnungen mit 4 Räumen
                     Anzahl                 Anzahl                 Anzahl
0                   4024103                9305930               10786112
1                    137505                 312431                 360467
2                      6472                  14876                  13294
3                     18634                  41772                  34594
4                     15714                  32058                  32814
...                     ...                    ...                    ...
2300                   4977                  14154                  16958
2301                   2627                   7788                  11010
2302                   2728                   9529                  12268
2303                   4058                  14008                  16584
2304                   5569                  15419                  16997

                                                    \
     Wohnungen mit 5 Räumen Wohnungen mit 6 Räumen
                     Anzahl                 Anzahl
0                   7235541                4727217
1                    297722                 190180
2                      7299                   3528
3                     18791                   8217
4                     18563                   8665
...                     ...                    ...
2300                  10277                   6457
2301                   9549                   6130
2302                   8488                   5729
2303                  10502                   6450
2304                   9083                   4885

                                      Unnamed: 17_level_0
     Wohnungen mit 7 Räumen oder mehr Unnamed: 17_level_1
                               Anzahl              Anzahl
0                             5247402            42617705
1                              179697             1439403
2                                3343               26868
3                                6271               51009
4                                6285               49895
...                               ...                 ...
2300                             6635               53423
2301                             5091               40766
2302                             5781               46421
2303                             5156               41249
2304                             3765               29906

[4605 rows x 18 columns]

In [170]:
data = df_2011_2020

In [171]:
data.columns = data.columns.map('_'.join)

In [172]:
data.columns = data.columns.str.replace(' ','_')
data.columns

Index(['Unnamed:_0_level_0_Unnamed:_0_level_1_Unnamed:_0_level_2',
       'Unnamed:_1_level_0_Unnamed:_1_level_1_Unnamed:_1_level_2',
       'Unnamed:_2_level_0_Unnamed:_2_level_1_Unnamed:_2_level_2',
       'Wohngebäude_nach_Anzahl_der_Wohnungen_Insgesamt_Anzahl',
       'Wohngebäude_nach_Anzahl_der_Wohnungen_Wohngebäude_mit_1_Wohnung_Anzahl',
       'Wohngebäude_nach_Anzahl_der_Wohnungen_Wohngebäude_mit_2_Wohnungen_Anzahl',
       'Wohngebäude_nach_Anzahl_der_Wohnungen_Wohngebäude_mit_3_und_mehr_Wohnungen_Anzahl',
       'Wohngebäude_nach_Anzahl_der_Wohnungen_Wohnheime_Anzahl',
       'Unnamed:_8_level_0_Unnamed:_8_level_1_1000_qm',
       'Größe_der_Wohnung_Insgesamt_Anzahl',
       'Größe_der_Wohnung_Wohnungen_mit_1_Raum_Anzahl',
       'Größe_der_Wohnung_Wohnungen_mit_2_Räumen_Anzahl',
       'Größe_der_Wohnung_Wohnungen_mit_3_Räumen_Anzahl',
       'Größe_der_Wohnung_Wohnungen_mit_4_Räumen_Anzahl',
       'Größe_der_Wohnung_Wohnungen_mit_5_Räumen_Anzahl',
       'Größe_der_Wohnung_Wohnungen_mit_6_Räumen_Anzahl',
       'Größe_der_Wohnung_Wohnungen_mit_7_Räumen_oder_mehr_Anzahl',
       'Unnamed:_17_level_0_Unnamed:_17_level_1_Anzahl'],
      dtype='object')

In [173]:
data.drop(columns=[
       'Wohngebäude_nach_Anzahl_der_Wohnungen_Wohngebäude_mit_1_Wohnung_Anzahl',
       'Wohngebäude_nach_Anzahl_der_Wohnungen_Wohngebäude_mit_2_Wohnungen_Anzahl',
       'Wohngebäude_nach_Anzahl_der_Wohnungen_Wohngebäude_mit_3_und_mehr_Wohnungen_Anzahl',
    #    'Gebäude_nach_Anzahl_der_Wohnungen_1_Wohnung_Anzahl',
    #    'Gebäude_nach_Anzahl_der_Wohnungen_2_Wohnungen_Anzahl',
       'Größe_der_Wohnung_Wohnungen_mit_1_Raum_Anzahl',
       'Größe_der_Wohnung_Wohnungen_mit_2_Räumen_Anzahl',
       'Größe_der_Wohnung_Wohnungen_mit_3_Räumen_Anzahl',
       'Größe_der_Wohnung_Wohnungen_mit_4_Räumen_Anzahl',
       'Größe_der_Wohnung_Wohnungen_mit_5_Räumen_Anzahl',
       'Größe_der_Wohnung_Wohnungen_mit_6_Räumen_Anzahl',
       'Größe_der_Wohnung_Wohnungen_mit_7_Räumen_oder_mehr_Anzahl',
       'Unnamed:_17_level_0_Unnamed:_17_level_1_Anzahl'], inplace=True)
data

,Unnamed:_0_level_0_Unnamed:_0_level_1_Unnamed:_0_level_2,Unnamed:_1_level_0_Unnamed:_1_level_1_Unnamed:_1_level_2,Unnamed:_2_level_0_Unnamed:_2_level_1_Unnamed:_2_level_2,Wohngebäude_nach_Anzahl_der_Wohnungen_Insgesamt_Anzahl,Wohngebäude_nach_Anzahl_der_Wohnungen_Wohnheime_Anzahl,Unnamed:_8_level_0_Unnamed:_8_level_1_1000_qm,Größe_der_Wohnung_Insgesamt_Anzahl
0,31.12.2020,DG,Deutschland,19273286,22700,3812915.8,42803737
1,31.12.2020,01,Schleswig-Holstein,832199,719,137588.9,1517232
2,31.12.2020,01001,"Flensburg, kreisfreie Stadt",17390,47,3970.5,51656
3,31.12.2020,01002,"Kiel, Landeshauptstadt, kreisfreie Stadt",37358,118,9565.3,135985
4,31.12.2020,01003,"Lübeck, Hansestadt, kreisfreie Stadt",43885,34,8706.2,119523
...,...,...,...,...,...,...,...
2300,31.12.2011,16073,"Saalfeld-Rudolstadt, Kreis",28295,8,4702.4,61044
2301,31.12.2011,16074,Saale-Holzland-Kreis,22582,6,3581.3,42951
2302,31.12.2011,16075,Saale-Orla-Kreis,23762,8,3640.6,44972
2303,31.12.2011,16076,"Greiz, Kreis",27899,2,4503.2,57977
2304,31.12.2011,16077,"Altenburger Land, Kreis",22695,2,4116.9,56573

In [174]:
data.rename(columns={'Unnamed:_0_level_0_Unnamed:_0_level_1_Unnamed:_0_level_2': 'year',
       'Unnamed:_1_level_0_Unnamed:_1_level_1_Unnamed:_1_level_2':'code',
       'Unnamed:_2_level_0_Unnamed:_2_level_1_Unnamed:_2_level_2':'district',
       'Wohngebäude_nach_Anzahl_der_Wohnungen_Insgesamt_Anzahl':'number_of_buildings',
       'Unnamed:_8_level_0_Unnamed:_8_level_1_1000_qm': 'living_space_1000qm',
       'Größe_der_Wohnung_Insgesamt_Anzahl' : 'number_of_apartments'},inplace=True)

In [175]:
data.drop(columns='Wohngebäude_nach_Anzahl_der_Wohnungen_Wohnheime_Anzahl', inplace=True)

In [176]:
data

,year,code,district,number_of_buildings,living_space_1000qm,number_of_apartments
0,31.12.2020,DG,Deutschland,19273286,3812915.8,42803737
1,31.12.2020,01,Schleswig-Holstein,832199,137588.9,1517232
2,31.12.2020,01001,"Flensburg, kreisfreie Stadt",17390,3970.5,51656
3,31.12.2020,01002,"Kiel, Landeshauptstadt, kreisfreie Stadt",37358,9565.3,135985
4,31.12.2020,01003,"Lübeck, Hansestadt, kreisfreie Stadt",43885,8706.2,119523
...,...,...,...,...,...,...
2300,31.12.2011,16073,"Saalfeld-Rudolstadt, Kreis",28295,4702.4,61044
2301,31.12.2011,16074,Saale-Holzland-Kreis,22582,3581.3,42951
2302,31.12.2011,16075,Saale-Orla-Kreis,23762,3640.6,44972
2303,31.12.2011,16076,"Greiz, Kreis",27899,4503.2,57977
2304,31.12.2011,16077,"Altenburger Land, Kreis",22695,4116.9,56573

In [182]:
# with open('data/year_2010_2015.csv', 'wb') as f:
#     f.write(de_response.content)
# data = pd.read_csv('data/year_2010_2015.csv',delimiter=';', skiprows=4, skipfooter=4, header=[0,1,2], encoding = 'latin1', decimal=',')
data.columns = data.columns.map('_'.join)
data.columns = data.columns.str.replace(' ','_')
data.drop(columns=[
    #    'Wohngebäude_nach_Anzahl_der_Wohnungen_Wohngebäude_mit_1_Wohnung_Anzahl',
    #    'Wohngebäude_nach_Anzahl_der_Wohnungen_Wohngebäude_mit_2_Wohnungen_Anzahl',
    #    'Wohngebäude_nach_Anzahl_der_Wohnungen_Wohngebäude_mit_3_und_mehr_Wohnungen_Anzahl',
       'Gebäude_nach_Anzahl_der_Wohnungen_1_Wohnung_Anzahl',
       'Gebäude_nach_Anzahl_der_Wohnungen_2_Wohnungen_Anzahl',
       'Größe_der_Wohnung_Wohnungen_mit_1_Raum_Anzahl',
       'Größe_der_Wohnung_Wohnungen_mit_2_Räumen_Anzahl',
       'Größe_der_Wohnung_Wohnungen_mit_3_Räumen_Anzahl',
       'Größe_der_Wohnung_Wohnungen_mit_4_Räumen_Anzahl',
       'Größe_der_Wohnung_Wohnungen_mit_5_Räumen_Anzahl',
       'Größe_der_Wohnung_Wohnungen_mit_6_Räumen_Anzahl',
       'Größe_der_Wohnung_Wohnungen_mit_7_Räumen_oder_mehr_Anzahl',
       'Unnamed:_15_level_0_Unnamed:_15_level_1_Anzahl'], inplace=True)
data.rename(columns={'Unnamed:_0_level_0_Unnamed:_0_level_1_Unnamed:_0_level_2': 'year',
       'Unnamed:_1_level_0_Unnamed:_1_level_1_Unnamed:_1_level_2':'code',
       'Unnamed:_2_level_0_Unnamed:_2_level_1_Unnamed:_2_level_2':'district',
       'Gebäude_nach_Anzahl_der_Wohnungen_Insgesamt_Anzahl':'number_of_buildings',
       'Unnamed:_6_level_0_Unnamed:_6_level_1_1000_qm': 'living_space_1000qm',
       'Größe_der_Wohnung_Insgesamt_Anzahl' : 'number_of_apartments'
},inplace=True)

# difference between population and housing data:
# 15	02000	Hamburg, kreisfreie Stadt
# 28	03201	Hannover, kreisfreie Stadt (bis 31.10.2001)
# 32	03253	Hannover, Landkreis (bis 31.10.2001) to change to 03241
# 82	05313	Aachen, kreisfreie Stadt (bis 20.10.2009)
# 330	11000	Berlin, kreisfreie Stadt
data["year"]= pd.to_datetime(data["year"]).dt.year
data["number_of_buildings"]= pd.to_numeric(data["number_of_buildings"],errors='coerce')
data["number_of_apartments"]= pd.to_numeric(data["number_of_apartments"],errors='coerce')
data["living_space_1000qm"]= pd.to_numeric(data["living_space_1000qm"],errors='coerce')
data = data.query('code.str.len() == 5 or code == "02" or code == "11" or code == "032" or code == "05334002"')
data['country'] = ['Germany']*data.shape[0]
data['state_code'] = data['code'].map(lambda x: int(str(x)[:2]))
state_maping = {
    1 : "Schleswig-Holstein",
    2 : "Hamburg",
    3 : "Niedersachsen",
    4 : "Bremen",
    5 : "Nordrhein-Westfalen",
    6 : "Hessen",
    7 : "Rheinland-Pfalz",
    8 : "Baden-Württemberg",
    9 : "Bayern",
    10 : "Saarland",
    11 : "Berlin",
    12 : "Brandenburg",
    13 : "Mecklenburg-Vorpommern",
    14 : "Sachsen",
    15 : "Sachsen-Anhalt",
    16 : "Thüringen",
    }
data['state'] = data['state_code'].map(state_maping)
data

/var/folders/_k/3v2l6rmd5m3gnk2prt6lj__h0000gn/T/ipykernel_26801/1411100052.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['country'] = ['Germany']*data.shape[0]
/var/folders/_k/3v2l6rmd5m3gnk2prt6lj__h0000gn/T/ipykernel_26801/1411100052.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['state_code'] = data['code'].map(lambda x: int(str(x)[:2]))
/var/folders/_k/3v2l6rmd5m3gnk2prt6lj__h0000gn/T/ipykernel_26801/1411100052.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['state'] = data['state_code'].map(state_maping)

,year,code,district,number_of_buildings,living_space_1000qm,number_of_apartments,country,state_code,state
2,2010,01001,"Flensburg, kreisfreie Stadt",15381.0,3581.6,48280.0,Germany,1,Schleswig-Holstein
3,2010,01002,"Kiel, Landeshauptstadt, kreisfreie Stadt",35585.0,9034.2,131444.0,Germany,1,Schleswig-Holstein
4,2010,01003,"Lübeck, Hansestadt, kreisfreie Stadt",41675.0,8136.8,114814.0,Germany,1,Schleswig-Holstein
5,2010,01004,"Neumünster, kreisfreie Stadt",18329.0,3187.2,41386.0,Germany,1,Schleswig-Holstein
6,2010,01051,"Dithmarschen, Landkreis",47595.0,6288.6,67655.0,Germany,1,Schleswig-Holstein
...,...,...,...,...,...,...,...,...,...
3091,2000,16073,"Saalfeld-Rudolstadt, Kreis",27548.0,4541.8,63125.0,Germany,16,Thüringen
3092,2000,16074,Saale-Holzland-Kreis,21410.0,3252.8,41639.0,Germany,16,Thüringen
3093,2000,16075,Saale-Orla-Kreis,23868.0,3532.6,45369.0,Germany,16,Thüringen
3094,2000,16076,"Greiz, Kreis",28026.0,4426.5,61292.0,Germany,16,Thüringen
3095,2000,16077,"Altenburger Land, Kreis",22862.0,4169.3,60940.0,Germany,16,Thüringen

In [178]:
df_2011_2020_cleaned = data
df_2011_2020_cleaned

,year,code,district,number_of_buildings,living_space_1000qm,number_of_apartments,country,state_code,state
2,2020,01001,"Flensburg, kreisfreie Stadt",17390,3970.5,51656,Germany,1,Schleswig-Holstein
3,2020,01002,"Kiel, Landeshauptstadt, kreisfreie Stadt",37358,9565.3,135985,Germany,1,Schleswig-Holstein
4,2020,01003,"Lübeck, Hansestadt, kreisfreie Stadt",43885,8706.2,119523,Germany,1,Schleswig-Holstein
5,2020,01004,"Neumünster, kreisfreie Stadt",19253,3372.0,42194,Germany,1,Schleswig-Holstein
6,2020,01051,"Dithmarschen, Landkreis",50954,7114.6,71548,Germany,1,Schleswig-Holstein
...,...,...,...,...,...,...,...,...,...
2300,2011,16073,"Saalfeld-Rudolstadt, Kreis",28295,4702.4,61044,Germany,16,Thüringen
2301,2011,16074,Saale-Holzland-Kreis,22582,3581.3,42951,Germany,16,Thüringen
2302,2011,16075,Saale-Orla-Kreis,23762,3640.6,44972,Germany,16,Thüringen
2303,2011,16076,"Greiz, Kreis",27899,4503.2,57977,Germany,16,Thüringen
2304,2011,16077,"Altenburger Land, Kreis",22695,4116.9,56573,Germany,16,Thüringen

In [181]:
data = df_2000_2010
data

     Unnamed: 0_level_0 Unnamed: 1_level_0  \
     Unnamed: 0_level_1 Unnamed: 1_level_1
     Unnamed: 0_level_2 Unnamed: 1_level_2
0            31.12.2010                 DG
1            31.12.2010                 01
2            31.12.2010              01001
3            31.12.2010              01002
4            31.12.2010              01003
...                 ...                ...
3091         31.12.2000              16073
3092         31.12.2000              16074
3093         31.12.2000              16075
3094         31.12.2000              16076
3095         31.12.2000              16077

                                  Unnamed: 2_level_0  \
                                  Unnamed: 2_level_1
                                  Unnamed: 2_level_2
0                                        Deutschland
1                                 Schleswig-Holstein
2                        Flensburg, kreisfreie Stadt
3           Kiel, Landeshauptstadt, kreisfreie Stadt
4               Lübeck, Hansestadt, kreisfreie Stadt
...                                              ...
3091                      Saalfeld-Rudolstadt, Kreis
3092                            Saale-Holzland-Kreis
3093                                Saale-Orla-Kreis
3094                                    Greiz, Kreis
3095                         Altenburger Land, Kreis

     Gebäude nach Anzahl der Wohnungen                        \
                             Insgesamt 1 Wohnung 2 Wohnungen
                                Anzahl    Anzahl      Anzahl
0                             18110835  11434561     3598158
1                               747830    565603       95515
2                                15381      9316        1336
3                                35585     20287        3198
4                                41675     25447        5558
...                                ...       ...         ...
3091                             27548     15120        7257
3092                             21410     13885        4651
3093                             23868     14868        5762
3094                             28026     15853        6900
3095                             22862     12479        4250

     Unnamed: 6_level_0 Größe der Wohnung                       \
     Unnamed: 6_level_1         Insgesamt Wohnungen mit 1 Raum
                1000 qm            Anzahl               Anzahl
0             3426896.0          40318513               854904
1              120323.9           1406388                25297
2                3581.6             48280                  725
3                9034.2            131444                 3548
4                8136.8            114814                 2628
...                 ...               ...                  ...
3091             4541.8             63125                 1701
3092             3252.8             41639                  693
3093             3532.6             45369                  605
3094             4426.5             61292                  443
3095             4169.3             60940                  273

                                                                           \
     Wohnungen mit 2 Räumen Wohnungen mit 3 Räumen Wohnungen mit 4 Räumen
                     Anzahl                 Anzahl                 Anzahl
0                   2472211                8608623               11785190
1                     84196                 286588                 393388
2                      2845                  13063                  16463
3                      9021                  42342                  43639
4                      8829                  30830                  38779
...                     ...                    ...                    ...
3091                   2973                  15337                  21161
3092                   1672                   8796                  13699
3093                   1945                   9651                  14492
3094                   3379                  16101                  20741
3095                   3459                  19833                  20544

                                                    \
     Wohnungen mit 5 Räumen Wohnungen mit 6 Räumen
                     Anzahl                 Anzahl
0                   7892836                4411266
1                    321246                 165696
2                      9112                   3664
3                     20511                   7803
4                     20788                   7884
...                     ...                    ...
3091                  11968                   5676
3092                   9150                   4535
3093                   9961                   5055
3094                  11628                   5405
3095                  10217                   4106

                                      Unnamed: 15_level_0
     Wohnungen mit 7 Räumen oder mehr Unnamed: 15_level_1
                               Anzahl              Anzahl
0                             4293483            33520652
1                              129977             1001874
2                                2408               18511
3                                4580               34933
4                                5076               38806
...                               ...                 ...
3091                             4309               32899
3092                             3094               23685
3093                             3660               28112
3094                             3595               27494
3095                             2508               19299

[5514 rows x 16 columns]

In [183]:
data_2000_2020 = pd.concat([df_2011_2020_cleaned, data])
data_2000_2020

,year,code,district,number_of_buildings,living_space_1000qm,number_of_apartments,country,state_code,state
2,2020,01001,"Flensburg, kreisfreie Stadt",17390.0,3970.5,51656.0,Germany,1,Schleswig-Holstein
3,2020,01002,"Kiel, Landeshauptstadt, kreisfreie Stadt",37358.0,9565.3,135985.0,Germany,1,Schleswig-Holstein
4,2020,01003,"Lübeck, Hansestadt, kreisfreie Stadt",43885.0,8706.2,119523.0,Germany,1,Schleswig-Holstein
5,2020,01004,"Neumünster, kreisfreie Stadt",19253.0,3372.0,42194.0,Germany,1,Schleswig-Holstein
6,2020,01051,"Dithmarschen, Landkreis",50954.0,7114.6,71548.0,Germany,1,Schleswig-Holstein
...,...,...,...,...,...,...,...,...,...
3091,2000,16073,"Saalfeld-Rudolstadt, Kreis",27548.0,4541.8,63125.0,Germany,16,Thüringen
3092,2000,16074,Saale-Holzland-Kreis,21410.0,3252.8,41639.0,Germany,16,Thüringen
3093,2000,16075,Saale-Orla-Kreis,23868.0,3532.6,45369.0,Germany,16,Thüringen
3094,2000,16076,"Greiz, Kreis",28026.0,4426.5,61292.0,Germany,16,Thüringen
3095,2000,16077,"Altenburger Land, Kreis",22862.0,4169.3,60940.0,Germany,16,Thüringen

In [184]:
data_2000_2020.to_csv('data/housing_kreis_2000_2020.csv')

In [114]:
import doctest

In [304]:
# function of changing th name of the counties according to the year 2020 
def change_str(string):
    """
    >>> change_str('Steig, Kreis')
    'LK Steig'
    >>> change_str('Apple, Landkreis')
    'LK Apple'
    >>> change_str(' Ulm, Stadtkreis')
    'SK Ulm'
    """
    exceptional_cases = {
        'Städteregion Aachen (einschl. Stadt Aachen)': 'Städteregion Aachen',
        'Aachen, krfr. Stadt': 'Städteregion Aachen',
        'Baden-Baden, Stadtkreis': 'SK Baden-Baden',
        'Chemnitz, Stadt': 'SK Chemnitz',
        'Dresden, Stadt': 'SK Dresden',
        'Freiburg im Breisgau, Stadtkreis': 'SK Freiburg im Breisgau',
        'Hannover, Stat. Region': 'Region Hannover',
        'Heidelberg, Stadtkreis': 'SK Heidelberg',
        'Heilbronn, Universitätsstadt, Stadtkreis': 'SK Heilbronn',
        'Karlsruhe, Stadtkreis': 'SK Karlsruhe',
        'Landkreis Ludwigslust-Parchim': 'LK Ludwigslust-Parchim',
        'Landkreis Nordwestmecklenburg': 'LK Nordwestmecklenburg',
        'Leipzig, Stadt': 'SK Leipzig',
        'Region Hannover, Landkreis': 'Region Hannover',
        'Mannheim, Stadtkreis': 'SK Mannheim',
        'München, Landeshauptstadt': 'SK München',
        'Pforzheim, Stadtkreis': 'SK Pforzheim',
        'Saarbrücken, Regionalverband': 'Regionalverband Saarbrücken',
        'Schwerin, Landeshauptstadt, kreisfreie Stadtk': 'SK Schwerin',
        'Kiel, Landeshauptstadt, kreisfreie Stadt': 'SK Kiel',
        'Lübeck, Hansestadt, kreisfreie Stadt': 'SK Lübeck',
        'Rostock, Hanse- und Universitätsstadt, kreisfreie Stadt': 'SK Rostock',
        'Wiesbaden, Landeshauptstadt, kreisfreie Stadt': 'SK Wiesbaden',
        'Stuttgart, Landeshauptstadt, Stadtkreis': 'SK Stuttgart',
        'Ulm, Stadtkreis': 'SK Ulm',
        'Regensburg': 'SK Regensburg',
    }
    trimmed = string.strip()
    if ' ' not in trimmed and '-' not in trimmed and 'kreis' not in trimmed:
        return 'SK' + ' ' + trimmed
    elif trimmed in exceptional_cases:
        return exceptional_cases[trimmed]
    elif trimmed[-len(', Landkreis'):] == ', Landkreis':
        return 'LK ' + trimmed[:-len(', Landkreis')]
    elif trimmed[-len(', kreisfreie Stadt'):] == ', kreisfreie Stadt':
        return 'SK ' + trimmed[:-len(', kreisfreie Stadt')]
    elif trimmed[-7:] == ', Kreis':
        return 'LK ' + trimmed[:-7]
    else:
        return trimmed

doctest.testmod()

TestResults(failed=0, attempted=3)

In [305]:
data_2000_2020['kreis'] = data_2000_2020['district'].map(lambda x: change_str(x))
data_2000_2020

,year,code,district,number_of_buildings,living_space_1000qm,number_of_apartments,country,state_code,state,kreis
2,2020,01001,"Flensburg, kreisfreie Stadt",17390.0,3970.5,51656.0,Germany,1,Schleswig-Holstein,SK Flensburg
3,2020,01002,"Kiel, Landeshauptstadt, kreisfreie Stadt",37358.0,9565.3,135985.0,Germany,1,Schleswig-Holstein,SK Kiel
4,2020,01003,"Lübeck, Hansestadt, kreisfreie Stadt",43885.0,8706.2,119523.0,Germany,1,Schleswig-Holstein,SK Lübeck
5,2020,01004,"Neumünster, kreisfreie Stadt",19253.0,3372.0,42194.0,Germany,1,Schleswig-Holstein,SK Neumünster
6,2020,01051,"Dithmarschen, Landkreis",50954.0,7114.6,71548.0,Germany,1,Schleswig-Holstein,LK Dithmarschen
...,...,...,...,...,...,...,...,...,...,...
3091,2000,16073,"Saalfeld-Rudolstadt, Kreis",27548.0,4541.8,63125.0,Germany,16,Thüringen,LK Saalfeld-Rudolstadt
3092,2000,16074,Saale-Holzland-Kreis,21410.0,3252.8,41639.0,Germany,16,Thüringen,Saale-Holzland-Kreis
3093,2000,16075,Saale-Orla-Kreis,23868.0,3532.6,45369.0,Germany,16,Thüringen,Saale-Orla-Kreis
3094,2000,16076,"Greiz, Kreis",28026.0,4426.5,61292.0,Germany,16,Thüringen,LK Greiz
3095,2000,16077,"Altenburger Land, Kreis",22862.0,4169.3,60940.0,Germany,16,Thüringen,LK Altenburger Land

In [139]:
# to compare with the population data
deming_df = pd.read_csv('data/df_for_farnaz.csv', converters={'key': str}, index_col=0)
deming_df

        key                           kreis
0     01001     Flensburg, kreisfreie Stadt
1     01002          Kiel, kreisfreie Stadt
2     01003        Lübeck, kreisfreie Stadt
3     01004    Neumünster, kreisfreie Stadt
4     01051         Dithmarschen, Landkreis
...     ...                             ...
9991  16073  Saalfeld-Rudolstadt, Landkreis
9992  16074            Saale-Holzland-Kreis
9993  16075                Saale-Orla-Kreis
9994  16076                Greiz, Landkreis
9995  16077     Altenburger Land, Landkreis

[9996 rows x 2 columns]

In [230]:
key_set = set(deming_df.key)

In [273]:
code_set = set(data_2000_2020.code)

In [274]:
key_set - code_set

{'03241'}

In [ ]:
data_2000_2020[data_2000_2020.district.str.contains('Hannover') == True]

In [ ]:

#  data_2000_2020.district[data_2000_2020.code=='02000'] = 'Berlin SK'

In [ ]:
# to sync the codes in housing data with tha population
data_2000_2020.code[data_2000_2020.code=='03241'] = '03253'
data_2000_2020.code[data_2000_2020.code=='02'] = '02000'
data_2000_2020.code[data_2000_2020.code=='11'] = '11000'
data_2000_2020.code[data_2000_2020.code=='032'] = '03201'
data_2000_2020.code[data_2000_2020.code=='05334002'] = '05313'

In [306]:
data_2000_2020.to_csv('data/formatted_Kreis_housing_2000_2020.csv')